name: Run test on Lambda

on:
  workflow_dispatch:

jobs:
  test:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v2
    - name: Run test on serverless
      run: make test-serverless
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
